
#main {
    border-width: 2px;
    width: 401px;
}

#theTable {
    border-style: solid;
    border-color: gray;
    position: relative;
    overflow: auto;
}

.rubrik{
    border-style: dashed;
    border-color: brown;
    border-width: 3px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 15px;
    margin: 1px;
    background-color: yellowgreen;
    text-align: center;
}

.row {
    background-color: beige;
    float: left;
}

.cell {
    border-style: dotted;
    border-color: grey;
    margin: 1px;
    padding: 5px;
}

#country{
    text-align: right;
}

#first, #second, #third, #fourth{
    text-align: center;
}

#first{
    background-color: gold;
}

#second{
    background-color: silver;
}

#third{
    background-color: brown;
}

p{
    margin: 0;
    text-align: center;
}
