
body{
    margin: 0;
    background-color: beige;
}

#main{
    position: static;
}

.alt{
    float: left;
    list-style-type: none;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

#edit{
    visibility: hidden;
}

#editButton:hover + #edit{
    visibility: visible;
}

ul{
    list-style-type: none;
    padding: 0;
}


