
body{
    background-color: blue;
}

#element1{
    position: relative;
    width: 250px;
    height: 250px;
    background-color: red;
    border: solid black 20px;
    border-radius: 50px;
    margin: auto;
}

#element2{
    position: relative;
    width: 250px;
    height: 250px;
    background-color: red;
    border: solid black 20px;
    margin: auto;
    margin-top: 20px;
}

#element2:hover{
    border-radius: 130px;
}